---
import Layout from '../layouts/Layout.astro';
import Screen from '../components/Screen.astro';
import Fixed from '../components/Fixed.astro';
import RunngingLine from '../components/RunngingLine.astro';
import Welcome from '../components/Welcome.astro';
import Socials from '../components/Socials.astro';
import Cases from '../components/Cases.astro';
import Services from '../components/Services.astro';
import KpiAndClients from '../components/KpiAndClients.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main class="main">
		<Fixed />
		<Screen />
		<RunngingLine />
		<Welcome />
		<Socials />
		<Cases />
		<Services />
		<KpiAndClients />
		<Team />
	</main>
	<Footer />
</Layout>

<style lang="scss">
	.main {
		position: relative;
		z-index: 1;
		background-color: #000;
		max-width: 100vw;
		overflow-x: hidden;
	}
</style>
