---
import { getCollection } from 'astro:content';
import ArrowIcon from './icons/Arrow-icon.astro';

const cases = await getCollection('cases');
---

<div class="cases">
    <div class="cases__heading container animate-on-scroll">
        <ArrowIcon/> 
        <span>а вот наши кейсы</span>
    </div>
    <div class="cases__items">
        {cases.map((caseItem, index) => (
            <div class={`cases__item cases__item--image-${index + 1} container`} style={'background-image: url(' + caseItem.data.imageSrc + ')'}>
                <span class="cases__item-title">{caseItem.data.title}</span>
                <span class="cases__item-description">{caseItem.data.description}</span>
            </div>
        ))}
    </div>
</div>


<style lang="scss">
    .cases {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cases__heading {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 32px;
    }

    .cases__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media (max-width: 767.98px) {
            grid-template-columns: 1fr;
        }
    }

    .cases__item {
        height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
        background-size: cover;
        background-position: center 0%; // Изменено с center на center 0%
        overflow: hidden; // Добавлено

        @media (max-width: 767.98px) {
            height: 400px;
        }

        
        @for $i from 1 through 100 {  // Увеличим до 100 для примера
            &--image-#{$i} {
                @if $i % 3 == 1 {
                    grid-column: span 2;

                    @media (max-width: 767.98px) {
                        grid-column: span 1;
                    }
                } @else {
                    $is_even: $i % 2 == 0;
                    padding-left: 15px;
                    padding-right: 20px;

                    @media (min-width: 575.98px) {
                        padding-left: calc(50vw - 270px);
                    }

                    @media (min-width: 767.98px) {
                        padding-left: if($is_even, calc(50vw - 360px), 20px);
                        padding-right: if(not $is_even, calc(50vw - 360px), 20px);
                    }

                    @media (min-width: 991.98px) {
                        padding-left: if($is_even, calc(50vw - 480px), 20px);
                        padding-right: if(not $is_even, calc(50vw - 480px), 20px);
                    }

                    @media (min-width: 1199.98px) {
                        padding-left: if($is_even, calc(50vw - 648px), 20px);
                        padding-right: if(not $is_even, calc(50vw - 648px), 20px);
                    }
                }
            }
        }
    }

    .cases__item-title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            font-size: 36px;
            line-height: 44px;
        }
    }

    .cases__item-description {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;

        @media (max-width: 767.98px) {
            font-size: 18px;
            line-height: 22px;
        }
    }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const caseItems = document.querySelectorAll('.cases__item');

  caseItems.forEach((item) => {
    gsap.to(item, {
      backgroundPositionY: "75%",
      ease: "none",
      scrollTrigger: {
        trigger: item,
        start: "top bottom",
        end: "bottom top",
        scrub: true
      }
    });
  });
</script>
