<div class="bg-black py-28">
	<div class="container mx-auto bg-gradient-to-r from-secondary to-primary bg-clip-text  text-white uppercase text-5xl flex justify-evenly">
		<a href="#" class="transition hover:text-transparent">Телеграм</a>
		<a href="#" class="transition hover:text-transparent">Cвязь</a>
		<a href="#" class="transition hover:text-transparent">Ин$%аграм</a>
	</div>
	</div>